# Unreal – keep only Config/Content/.uproject (BP-only)
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.sln
*.VC.db
.vscode/
.idea/
# Plugins build junk
Plugins/*/Binaries/
Plugins/*/Intermediate/
Plugins/*/Saved/
# BP-only -> ignore Build
Build/
